@font-face {
    font-family: Outfit;
    src: url(./assets/fonts/Outfit-VariableFont_wght.ttf);
}

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
    text-align: center;
    font-family: Outfit;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: hsl(212, 45%, 89%);
}

main > div {
    width: 100%;
    max-width: 310px;
    height: 470px;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
}

main > div > img {
    width: 100%;
    aspect-ratio: 1/1;
}

main > div > h1 {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 700;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
}

main > div > h2 {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}